.toolbar {
    position: absolute;
    width: 404px;
    height: 72px;
    left: -7px;
    top: 0px;
  
    background: #d9d9d9;
  }
  .leb-guide {
    display: flex;
    width: 103px;
    height: 46px;
    justify-content: flex-start;
    margin-left: 14px;
    margin-top: 12px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.3px;
  
    color: #392828;
  }
  ion-content.background {
    background-color: white;
    --background: url("../../assets/images/img-1.png");
    height: auto;
    width: auto;
  }
  .login {
    position: absolute;
    height: 82px;
    left: 30px;
    right: 30px;
    top: 107px;
    /* H1 - bold 60 (82, 0.1px) */
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    /* identical to box height, or 137% */
  
    letter-spacing: 0.1px;
  
    color: #392828;
  }
  
  
  .email-info {
    /* Sign in with your data that you entered during your registration. */
    position: absolute;
    height: 40px;
    left: 30px;
    right: 30px;
    top: 300px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
    padding: 0;
    color: #545563;
  }
  .box {
    box-sizing: border-box;
    border: 1px solid #888889;
    border-radius: 10px;
  }
  .pass-info {
    /* Sign in with your data that you entered during your registration. */
    position: absolute;
    height: 40px;
    left: 30px;
    right: 30px;
    top: 390px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
  
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
    padding: 0;
    color: #545563;
  }
  a:hover {
    text-decoration: underline;
  }
  .no-account-a {
    text-decoration: none;
    position: absolute;
    height: 20px;
    left: 232px;
    right: 40px;
    top: 483px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
  
    color: #392828;
  }
  .not-found {
    text-decoration: none;
    position: absolute;
    height: 20px;
    left: 107px;
    right: 40px;
    top: 540px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
  
    color: #f70606;
  }
  .empty {
    text-decoration: none;
    position: absolute;
    height: 20px;
    left: 126px;
    right: 40px;
    top: 540px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
  
    color: #f70606;
  }
  .no-account {
    text-decoration: none;
    position: absolute;
    height: 20px;
    left: 83px;
    right: 30px;
    top: 469px;
  
    /* Body 1 - regular 14 (20, 0.1px) */
  
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  
    /* identical to box height, or 143% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
  
    /* neutral/gray dark */
  
    color: #392828;
  }
  .login-button {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
  
    position: absolute;
    height: 44px;
    left: 30px;
    right: 30px;
    top: 607px;
  
    background: #714747;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
  }
  