<ion-content class="background">
  <div class="toolbar">
    <h1 class="leb-guide">Colleagues</h1>
  </div>
  <div class="login-container">
    <h1 class="login">Log In</h1>
    <div class="email-info">
      <ion-label position="floating">Email</ion-label>
      <div class="box">
        <ion-input
          type="email"
          required
          [(ngModel)]="email"
          placeholder="name@example.com"
        ></ion-input>
      </div>
    </div>
    <div class="pass-info">
      <ion-label position="floating">Password</ion-label>
      <div class="box">
        <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      </div>
    </div>
    <p class="no-account">Don't have an account?</p>
    <a class="no-account-a" (click)="signupRedirect()">Sign Up</a>
    <span id="notfoundmessage" class="not-found"></span>
    <ion-button type="submit" class="login-button" color="none" style="padding: 0px" (click)="authenticate()">Login</ion-button>
  </div>
</ion-content>
