<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="Enter your email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Enter your password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary">LOGIN</ion-button>
</ion-content>
